* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 0.625rem;
}

body {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    font-family: 'Fira Sans', sans-serif;
}

body img {
    width: 100%;
}

nav {
    height: 70px;
    z-index: 1000;
}

.navcolor {
    background-color: #509b3b;
    height: 70px;
    line-height: 70px;
    width: 100%;
}

nav h1 {
    font-size: 4rem;
    float: left;
    color: #fff;
    text-shadow: 4px 3px 0px #555;
    margin-left: 2rem;
}

#menu {
    display: none;
    height: 60px;
    background: #509b3b;
    text-align: center;
    position: fixed;
    width: 100%
}

.navLinks a {
    padding: 0 6rem;
    font-size: 3rem;
    text-decoration: none;
    color: #fff;
    text-shadow: 3px 3px 0px #555;
}

#mobileNavbar {
    float: right;
    margin-top: 10.11px;
    margin-right: 3rem;
    border: none;
    background: transparent;
    cursor: pointer;
}

nav i {
    color: #fff;
    font-size: 4rem;
    text-shadow: 3px 3px 0px #555;
}


/* Header */
header {
    background: url(/Galleri/berguv2.jpg);
    height: 80vh;
    text-align: center;
    color: #fff;
    text-shadow: 5px 5px 0px #555;
}
header h1 {
    font-size: 25rem;
    padding-top: 15rem;
}
header h3 {
    font-size: 5rem;
}