*{
    padding: 0;
    margin: 0;
}
body{
    width: 800px;
    margin: auto;
}
.bild-container{
    margin-left: 20px;
}
h1, p{
    text-align: center;
    background-color: whitesmoke;
}
h1{
    font-size: 60px;
}
p{
    font-size: 20px;
    margin-bottom: 20px;
}
hr{
    width: 650px;
    margin: auto;
    margin-bottom: 20px;    
}
.daniel2{
    transform: rotate(-90deg);
}
img{
    width: 380px;
    height: 380px;
    
}
.footer{
    background-color: rgb(190, 190, 190);
    height: 200px;
}
.links{
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: rgb(189, 189, 189);
}
.links a{
    float: left;
    display: block;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}
.kontakt{
    height: 200px;
    width: 200px;

    float: left;
    background-color: rgb(190, 190, 190);
}
.kontakt p{
    margin: 0;
    background-color: rgb(190, 190, 190);
    display: block;
}