* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    text-decoration: none
}

html {
    /* Gör så font-size rooten blir till 10px och sedan kan användas
    för att det ska vara enkelt att använda rem och em senare */
    font-size: 0.625rem;
}

body {
    background-color: #68C5DB;
}

nav {
    height: 8.5rem;
    background-color: #D7263D;
    background-size: cover;
    line-height: 8.5rem;
    border-radius: 2rem;
    margin: 1rem auto;
    width: 95%;
}

nav h1, .links {
    display: inline-block;
}
nav h1 {
    font-size: 2.6rem;
    padding: 0 1rem;
    float: left;
    font-weight: 400;
    color: #02182B;
}

nav .links a{
    color: #02182B;
    font-weight: 300;
    font-size: 2.5rem;
    margin: 0 2rem; 
}
.links {
    float: right;
}


