*{
    padding: 0;
    margin: 0;
}
div{
    width: 200px;
    height: 200px;
    float: left;
    
    background-color: blueviolet;

    margin: 10px;

    font-size: 30px;
    text-align: center;
    line-height: 200px;
}
.box-1{
    background-color: crimson;
}

#box-id{
    background-color: green;
}
span{
    color: aqua;
}