* {
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    background: red;
}
#btnnumbers {
    margin: 0 auto;
}
#number {
    border: double 1px white;;
    color: white;
    background: #333333;
    padding: 10px;
}
#container {
    width: 75%;
    margin: 5% auto;
}
#container p {
    font-size: 32px;
    width: 20%;
    padding:  5%;
    margin: 0 auto;
    float: left;
    background: #333333;
    color: white;
    text-align: center;
}